<div class="kanban-board min-h-screen p-6">
  <header class="flex items-center justify-between p-5">
    <a href="/" class="flex items-center" aria-label="Go to homepage">
      <img src="logo.png"
           alt="MyApp logo"
           class="h-20 w-auto" />
    </a>
    <h1 class="text-3xl font-bold text-center text-gray-800 border-2 rounded-lg p-4 kanban-title">Kanban Board</h1>
    <button class="px-5 py-3 rounded-full text-white font-semibold shadow transition kanban-button"
      aria-label="Create new ticket" (click)="openCreate()">+ New Ticket</button>
  </header>

  <main class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-10" role="list" aria-label="Kanban columns">
   <app-kanban-column
  label="Backlog"
  [status]="Status.Backlog"
  [tickets]="backlog | async"
  [connectedTo]="idsExcept(backlogId)"
  (dropped)="onDrop($event)"
></app-kanban-column>

<app-kanban-column
  label="To Do"
  [status]="Status.Todo"
  [tickets]="todo | async"
  [connectedTo]="idsExcept(todoId)"
  (dropped)="onDrop($event)"
></app-kanban-column>

<app-kanban-column
  label="In Progress"
  [status]="Status.InProgress"
  [tickets]="inProgress | async"
  [connectedTo]="idsExcept(inProgressId)"
  (dropped)="onDrop($event)"
></app-kanban-column>

<app-kanban-column
  label="Done"
  [status]="Status.Done"
  [tickets]="done | async"
  [connectedTo]="idsExcept(doneId)"
  (dropped)="onDrop($event)"
></app-kanban-column>

  </main>
</div>
