<section cdkDropListGroup [attr.aria-label]="label" role="region"
  class="flex flex-col rounded-xl border-2 h-full overflow-hidden"
  [ngClass]="{
    'bg-backlog': status === Status.Backlog,
    'bg-todo': status === Status.Todo,
    'bg-in-progress': status === Status.InProgress,
    'bg-done': status === Status.Done
  }"
>
   <h2 class="text-lg font-bold text-center py-2 border-b-2">{{ label }}</h2>
  <div class="rounded-lg p-3 min-h-100">
    <div
      cdkDropList
      [id]="status + '-list'"
      [cdkDropListData]="tickets ?? []"
      [cdkDropListConnectedTo]="connectedTo"
      class="flex flex-col gap-4 p-4 flex-1"
      (cdkDropListDropped)="drop($event)"
    >
      @for (ticket of (tickets ?? []); track trackById($index, ticket)) {
        <div cdkDrag [cdkDragData]="ticket">
          <app-ticket-card [ticket]="ticket"></app-ticket-card>
        </div>
      }
    </div>
  </div>
</section>


