@import "tailwindcss";

:root {
  --color-board-bg: #f5f5f3;
  --color-border: #2c3e50;
  --color-button-bg: #de4d43;
  --color-button-bg-hover: #ed5f55;

  --color-backlog:#95b9a2;
  --color-todo: #9ab7c7;
  --color-inProgress: #8b8bc4;
  --color-done: #c79ab1;

  --color-ticket-bg: #fdf6e3;
  --color-ticket-outline: #2c3e50;

}
.kanban-board{
  background-color: var(--color-board-bg);
}
.kanban-title {
  border-color: var(--color-border);
}
.kanban-button {
  background-color: var(--color-button-bg);
}
.kanban-button:hover {
  background-color: var(--color-button-bg-hover);
}
.kanban-ticket-card {
  background-color: var(--color-ticket-bg);
  border-color: var(--color-ticket-outline)
}

.kanban-input {
  transition: box-shadow 0.2s, border-color 0.2s;
}

.kanban-input:focus {
  border-color: var(--color-button-bg);
}
